[project]
	description = ??????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Twin Huang (twinh)
[access "refs/for/refs/*"]
	read = group user/Twin Huang (twinh)
	push = group user/Twin Huang (twinh)
	label-Code-Review = -2..+2 group user/Twin Huang (twinh)
	label-Verified = -1..+1 group user/Twin Huang (twinh)
	rebase = group user/Twin Huang (twinh)
	removeReviewer = group user/Twin Huang (twinh)
	submit = group user/Twin Huang (twinh)
[access "refs/heads/*"]
	read = group user/Twin Huang (twinh)
	create = group user/Twin Huang (twinh)
	push = +force group user/Twin Huang (twinh)
	pushMerge = group user/Twin Huang (twinh)
[access "refs/tags/*"]
	push = +force group user/Twin Huang (twinh)
	pushTag = group user/Twin Huang (twinh)
	pushSignedTag = group user/Twin Huang (twinh)
